@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";

}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Tạo người dùng mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                <td>@Html.DisplayFor(modelItem => user.Email)</td>
                <td>@Html.DisplayFor(modelItem => user.Name)</td>
                <td>@Html.DisplayFor(modelItem => user.City)</td>
                <td>@Html.DisplayFor(modelItem => user.Address)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@user.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index" asp-controller="Home">Quay lại Trang Chủ</a>
</p>
